@import './color.sass'
@import './typography.sass'


$bullet-size: 42px


.bullet
  background: $black
  border-radius: 50%
  color: $white
  font-family: $font-headings
  font-size: 26px
  font-weight: 700
  height: $bullet-size
  line-height: 42px
  margin-bottom: 2rem
  text-align: center
  width: $bullet-size
