$black: #1a1a1a
$white: #ffffff
$grey: #3a3a3a
$blue: #587995
$purple: #9988b2
$yellow: #FED253

.bg-blue
  background: $blue
  color: $white

  & .btn-next
    background: $white
    color: $black

.bg-white
  background: $white
  color: $black

  & .btn-next
    background: $blue
    color: $white

  & .list li::before
    background: $purple

.bg-grey
  background: $grey
  color: $white

.text-white
  color: $white