.bg-blue
  background: #587995
  color: #eee

  & .btn-next
    background: #eee
    color: #111

.bg-white
  background: #fff
  color: #111

  & .btn-next
    background: #587995
    color: #eee

  & .list li::before
    background: #9988b2

.bg-grey
  background: #3a3a3a
  color: #eee

.text-white
  color: #eee