img
  margin-bottom: 4rem
  z-index: 1

.image
  &.mod-full-width
    width: calc(100% + 60px)
    max-width: 200%;

  &.mod-margin-top
    margin-top: -8rem;

.image-background
  position: absolute
  z-index: 0

  &.mod-center
    top: -2rem

  &.mod-top
    top: -35rem

  &.mod-top-alt
    top: -3.2rem

  &.mod-bottom
    bottom: -4rem

  &.mod-left
    left: 0

  &.mod-right
    right: 0
