@import './color.sass'

.list
  counter-reset: counter
  list-style: none
  padding-left: 46px
  margin: 2rem 0

.list li
  counter-increment: counter
  position: relative


.list li::before
  content: counter(counter)
  position: absolute
  left: -56px
  top: 0
  width: 42px
  height: 42px
  border-radius: 50%
  background: $black
  color: $white
  font-family: 'Archivo Narrow', sans-serif
  font-size: 26px
  font-weight: 700
  line-height: 42px
  text-align: center


.list-type
  font-family: 'Archivo Narrow', sans-serif
  font-size: 17px
  font-weight: 700
  font-style: italic
  margin-bottom: 2rem
  text-align: left
