@import './color.sass'

.list
  counter-reset: counter
  list-style: none
  padding-left: 4.6rem
  margin: 2rem 0

  &.mod-alt
    margin: 4rem 0

  &.mod-alt li::before
    top: -1rem

.list li
  counter-increment: counter
  position: relative

.list li::before
  content: counter(counter)
  position: absolute
  left: -5.6rem
  top: 0
  width: 4.2rem
  height: 4.2rem
  border-radius: 50%
  background: $black
  color: $white
  font-family: 'Archivo Narrow', sans-serif
  font-size: 2.6rem
  font-weight: 700
  line-height: 4.2rem
  text-align: center

.list-type
  font-family: 'Archivo Narrow', sans-serif
  font-size: 1.7rem
  font-weight: 700
  font-style: italic
  margin-bottom: 2rem
  text-align: left

  &.mod-alt
    margin-bottom: 4rem

.list a
  color: $blue
  text-decoration: underline