@import './css/wipe.css';
@import './scss/fonts.scss';
@import './scss/typography.scss';
@import './scss/buttons.scss';
@import './scss/lists.scss';
@import './scss/bullet.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
main {
  width: 375px;
  height: 667px;
  background: #fff;
  text-align: center;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 0 30px;
  background: #eee;
}

.slide:nth-child(odd) {
  background: #fff;
}

.slide:nth-child(even) {
  background: #eee;
}

.slide-1 {
  z-index: 5;
}

.slide-2 {
  z-index: 4;
}

.slide-3 {
  z-index: 3;
}

.slide-4 {
  z-index: 2;
}

.slide-5 {
  z-index: 1;
}
